PORT=5000
CLIENT_URL=http://localhost:5173
CLIENT_URL_PROD=https://teamora-app.netlify.app
CLIENT_URLS=http://localhost:5173,https://teamora-app.netlify.app

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

SEED_COMPANY_ID=demo-company
SEED_COMPANY_NAME=Entreprise Démo
SEED_DEFAULT_PASSWORD=ChangeMe123!
